{% extends 'base.html' %}

{% block title %}Add Client | Provoice {% endblock %}

{% block content %}
<main class="w-3/4 flex flex-col mx-auto justify-center">
    {% if user.is_authenticated %}
    <h1 class="text-5xl 2xl:text-[2.8em] w-4/5 pb-3 pt-14 mx-auto text-center">add a new client.</h1>
    <br/>
    <form method="POST" action="" class="w-full md:w-3/4 xl:w-1/2 2xl:w-1/3 mx-auto space-y-6">
        {% csrf_token %}
        <input type="text" name="first_name" class="border-b border-gray-500 focus:outline-none w-full"
               placeholder="first name" required />
        <input type="text" name="last_name" class="border-b border-gray-500 focus:outline-none w-full"
               placeholder="last name" required/>
        <input type="text" name="address1" class="border-b border-gray-500 focus:outline-none w-full"
               placeholder="address 1" required/>
        <input type="text" name="address2" class="border-b border-gray-500 focus:outline-none w-full"
               placeholder="address 2"/>
        <input type="text" name="city" class="border-b border-gray-500 focus:outline-none w-full" placeholder="city" required/>
        <input type="text" name="state" class="border-b border-gray-500 focus:outline-none w-full" placeholder="state" required/>
        <input type="text" name="zipcode" class="border-b border-gray-500 focus:outline-none w-full"
               placeholder="zipcode" required/>
        <input type="tel" name="phone" class="border-b border-gray-500 focus:outline-none w-full"
               placeholder="phone (xxx)xxx-xxxx" required/>
        <input type="text" name="email" class="border-b border-gray-500 focus:outline-none w-full" placeholder="email" required/>
        <textarea name="notes" class="border-b border-gray-500 focus:outline-none w-full" rows="3"
                  placeholder="notes"></textarea>
        <div class="w-full flex justify-end pb-44">
            <button type="submit"
                    class="h-8 text-2xl font-light px-2 text-black hover:text-blue-500">
                add client
            </button>
        </div>
    </form>
    {% endif %}
</main>
{% endblock content %}