{% load static %}

<header class="flex flex-col items-center border-b border-gray-700 py-4">
    <a href="{% url 'home' %}">
        <img src="{% static 'images/business_logo_placeholder_no_bg.png' %}" class="w-[25rem] px-4 pb-2">
        <h1 class="absolute left-12 top-16 w-full text-5xl text-white opacity-90 font-normal tracking-widest pb-2 text-center">
            PROVOICE</h1>
        <h1 class="absolute left-10 top-16 w-full text-6xl text-gray-700 opacity-20 font-normal tracking-widest pb-2 text-center">
            PROVOICE</h1>
    </a>
    <div class="flex font-normal tracking-wider">
        {% if user.is_authenticated %}
        <p class="text-gray-800">logged in as&nbsp;<span class="text-red-700">{{ user.first_name }}&nbsp;{{ user.last_name }}&nbsp;</span>|&nbsp;
            <a href="{% url 'logout' %}" class="text-gray-800 z-20 font-normal hover:text-blue-500">logout</a></p>
        {% endif %}
    </div>
</header>
{% if messages %}
{% for message in messages %}
<div id="msg" class="relative bg-orange-100 border-b border-gray-700">
    <p class="text-center mx-auto text-lg py-1">{{ message }}</p>
    <button onclick="closeMsg()" class="text-2xl absolute right-5 bottom-[1%]">X</button>
</div>
{% endfor %}
{% endif %}
<!--<div class="lg:ml-[5rem]">-->
<!--    {% block page_content %}-->
<!--    {% endblock %}-->
<!--</div>-->