{% load static %}

<header class="flex flex-col items-center border-b border-gray-700 py-4 lg:ml-[5rem]">
    <a href="{% url 'home' %}">
        <img src="{% static 'images/business_logo_placeholder_no_bg.png' %}" class="w-[25rem] px-4 pb-2 relative">
        <h1 class="absolute left-[42.5%] top-16 w-auto text-3xl md:text-5xl text-white z-20 font-normal tracking-widest pb-2 text-center">
            PROVOICE</h1>
        <h1 class="absolute left-[40.8%] top-16 text-4xl md:text-6xl text-gray-700 opacity-30 font-normal tracking-widest pb-2 text-center">
            PROVOICE</h1>
    </a>
    <div class="flex font-normal tracking-wider">
        {% if user.is_authenticated %}
        <p class="text-gray-800">logged in as&nbsp;<span class="text-red-700">{{ user.first_name }}&nbsp;{{ user.last_name }}&nbsp;</span>|&nbsp;
            <a href="{% url 'logout' %}" class="text-gray-800 z-20 font-normal hover:text-blue-500">logout</a></p>
        {% endif %}
    </div>
</header>
{% if messages %}
{% for message in messages %}
<div id="msg" class="relative lg:ml-[5rem] bg-orange-100 border-b border-gray-700">
    <p class="text-center text-lg py-1">{{ message }}</p>
    <button onclick="closeMsg()" class="text-2xl absolute right-5 bottom-[1%]">X</button>
</div>
{% endfor %}
{% endif %}