{% extends "base.html" %}

{% load static %}

{% block title %}Welcome | Provoice{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
<main class="flex flex-col items-center w-full px-2 mb-8">
    <div class="pt-10 pb-2 space-y-2 text-center">
        <h2 class="text-2xl tracking-wide">Welcome, {{ user.first_name }}&nbsp;{{ user.last_name }}!</h2>
        <p class="text-md tracking-wide">Where would you like to begin?</p>
    </div>

    <div class="flex flex-wrap">
        <div class="text-2xl flex justify-center items-center p-4 bg-blue-200 my-6 w-full border border-gray-800
       rounded-md shadow-md shadow-gray-700 hover:bg-opacity-60 hover:cursor-pointer">
            <a href="#" class="w-full text-center">add a client</a>
        </div>
        <div class="text-2xl flex justify-center items-center p-4 bg-green-200 my-6 w-full border border-gray-800
       rounded-md shadow-md shadow-gray-700 hover:bg-opacity-60 hover:cursor-pointer">
            <a href="#" class="w-full text-center">find a client</a>
        </div>
        <div class="text-2xl flex justify-center items-center p-4 bg-red-200 my-6 w-full border border-gray-800
        rounded-md shadow-md shadow-gray-700 hover:bg-opacity-60 hover:cursor-pointer">
            <a href="{% url 'view_clients' %}" class="w-full text-center">view all clients</a>
        </div>
        <div class="text-2xl flex justify-center items-center p-4 bg-orange-200 my-6 w-full border border-gray-800
        rounded-md shadow-md shadow-gray-700 hover:bg-opacity-60 hover:cursor-pointer">
            <a href="#" class="w-full text-center">create an invoice</a>
        </div>
        <div class="text-2xl flex justify-center items-center p-4 bg-purple-200 my-6 w-full border border-gray-800
        rounded-md shadow-md shadow-gray-700 hover:bg-opacity-60 hover:cursor-pointer">
            <a href="#" class="w-full text-center">find an invoice</a>
        </div>
    </div>
</main>
{% else %}
{% include 'login.html' %}
{% endif %}
{% endblock content %}

